In [5]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                  {"High School":"Figueroa","Type":"District"},
                  {"High School": "Wilson", "Type":"Charter"},
                  {"High School":"Wright","Type":"Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
import pandas as pd

In [8]:
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [9]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [26]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [28]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [31]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [32]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

schools_dict_df = pd.DataFrame(high_schools_dict)

schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [33]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [34]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [41]:
school_id_drill = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_name_drill = ["Huang High School", "Figueroa High School", "Shelton High School","Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School","Pena High School","Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
type_drill = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]
schools_drill["School ID"] = pd.DataFrame(school_id_drill)
schools_drill["school_name"] = pd.DataFrame(school_name_drill)
schools_drill["type"] = pd.DataFrame(type_drill)
schools_drill

           0  School ID            school_name      type
0   District          0      Huang High School  District
1   District          1   Figueroa High School  District
2    Charter          2    Shelton High School   Charter
3   District          3  Hernandez High School  District
4    Charter          4    Griffin High School   Charter
5    Charter          5     Wilson High School   Charter
6    Charter          6    Cabrera High School   Charter
7   District          7     Bailey High School  District
8    Charter          8     Holden High School   Charter
9    Charter          9       Pena High School   Charter
10   Charter         10     Wright High School   Charter
11  District         11  Rodriguez High School  District
12  District         12    Johnson High School  District
13  District         13       Ford High School  District
14   Charter         14     Thomas High School   Charter